<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Consulta viacep</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
  <h1>Requisitar CEP</h1>
  <div class="container"></div>
  <form action="/" method="POST">
    <label for="cep">CEP</label>
    <input required type="text" class="form-control" id="cepinput" name="cepinput" maxlength="9" minlength="8">
    <br><button type="submit">Requisitar</button>
  </form>
  </div>
</body>
</html>